.wrapper {}

.wrapper_detail {}



.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #0000006c;
}

.tab_item {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}


.active {
    color: #28A745;
    border-bottom: 1px solid #28A745;
}

.active a {
    color: #28A745;
}

@media(min-width:1023px) {
    .wrapper_detail {
        display: flex;
        gap: 3rem;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 24.8rem;
        border: 1px solid #00000033;
        border-radius: 1rem;
        height: fit-content;
        margin-top: 2rem;
    }


    .tab_item {
        width: 100%;
        border-radius: .8rem;
    }

    .tab_item:not(:last-child) {
        border-bottom: 1px solid #00000033;
    }

    .active{
        background-color: #28A74540;
 
    }
    .main{
        width: 100%;
    }
}