.wrapper {}

.wrapper_detail {}



.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #0000006c;
}

.tab_item {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}


.active {
    color: #28A745;
    border-bottom: 1px solid #28A745;
}

.active a {
    color: #28A745;
}